{% extends '../../../template/base.html' %}

{% block body_content %}
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <h2 class="section-heading">Three Farm Bills</h2>
        <p>This is a very unpopular opinion.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>Under Food Security Act 2013, GOI gives food grains to the poor. If GOI starts giving direct cash transfers
          to the poor instead of foodgrains and implements these three bills together, it will significantly boost the
          agriculture sector across the country. And it will also help bring the number of farmers' suicide down.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>The income of Punjab and Haryana farmers will get impacted initially and they will be forced to switch to
          some other crops than wheat and paddy. Once they switch, this impact will get nullified.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>We as a nation produce much more wheat and rice than we really need. And because of the safety net of the
          MSP, we are stubbornly rejecting the idea of other essential crops like edible oils. In turn, we are having to
          import these items, shelling out billions of dollars in the process.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>If implemented correctly, this can help allay the ill-impact of demonetization and GST on the agriculture
          sector.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>We overproduce wheat and rice and force GOI to buy these at MSP. GOI buys them through the Food Corporation
          of India at MSP, and sells them at a lower price, incurring a loss in the process. Over time these losses have
          led to a debt of over 50 Billion Dollars, roughly 1/10th of the overall debt that India has from International
          lenders. It doesn't stop here, we have to import other agricultural produces, which we could have grown
          ourselves had we not been so stubborn about only wheat and rice due to the MSP safety net.
        </p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>This is not the only problem. GOI mostly acquires grains from farmers of Punjab and Haryana. And due to the
          food security act, supply it to the entire country at throw-away prices. Due to the oversupply of cheap grains
          in other parts of the country, farmers are not able to sell their produce at decent prices. Since I belong to
          a farming family in Bihar, I have personally felt this impact.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>You may ask, why put the burden of crop diversification on Punjab only? Well, they have long enjoyed the
          benefit of MSP, so they are the best-equipped farmer financially. The land size is bigger in Punjab compared
          to other parts of the country. Due to smaller land-size and poor financial status, diversification is much
          much more difficult in other parts of the country. Also, Punjabi farmers are the smartest farmers in the
          country, so they have a higher chance of pulling this off.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>If you don't know, We as a nation are under an overall debt of roughly 550 billion USD.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>By the way, the prices that we pay for food, roughly 70-80% of it goes to middlemen. I sell wheat in my
          village at roughly Rs 7-8/kg and buy Aata in Bangalore at Rs 40/kg. If the number of middlemen is reduced in
          this supply chain, maybe I will be able to sell wheat at roughly Rs 10/kg and buy Aata at Rs 25/kg.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>Punjabi/Haryanvi farmers are not protesting for others as they are portraying, they are protesting to protect
          the golden handcuffs called MSP.</p>
        <p>The three farm bills that the government has passed, can prove to be one of the biggest reforms in the
          agriculture sector if implemented correctly.</p>
        <p>If you blindly believe that whatever the govt is doing is necessarily bad, then you are no better than an
          andhbhakt. You should have a reason to support or oppose, and in this case, I have my own reasons to support
          the govt.</p>

      </div>
    </div>
  </div>
</article>
{% endblock %}


<!-- params
{
  "pathToRoot"    : "../../",
  "title"         : "Three farms bills are a welcome reform that will help farmers in long run",
  "headerimage"   : "img/js-background.jpg",
  "pageTitle"     : "Three farm Bills",
  "pageHeading"   : "We try to understand why the three farm bills are good for farmers in long term"
}
-->