{% extends '../template/base.html' %}

{% block body_content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I prefer to call myself a software artist than an engineer. While designing and creating softwares, beauty and simplicity has always been my first priority.</p>
        <p>In my office, you will find me hyper excited all the time. I am a very involved person, when it comes to projects that I undertake. If I am not writing code, you can find me discussing metrics, scope, long-term vision, implementation details of my projects with other stakeholders.</p>
        <p>I follow a very traditional approach to do my day to day work. Before I begin writing code, I meet with all the skateholders and understand their requirements and use cases, then I go back to drawing room and design a blurprint of the software. After I am done with the blueprint, I meet my seniors, other participants again to understand the feasibility, expected changes and blockers. This process goes on till we have finalised everything. I write code only after completing all the process. This may sound very orthodox and traditional, but this is how I work.</p>
        <p>You will often find me in front of whiteboard, drawing and erasing architectures. At others You can find me using chart paper and pencil. I prefer non-software tools for designing my stuffs.</p>
        <p>At workplaces, I believe in having a personal connect with all my colleagues. This connection is what makes life enjoyable at office.</p>
        <p>Drop me an email to know more about me</p>
        <p>Inside information: The best way to bond with me is to bond over food.</p>
      </div>
    </div>
  </div>
{% endblock %}


<!-- params
{
  "pathToRoot"    : "",
  "title"         : "Ravi Shankar | About",
  "headerimage"   : "img/ravi-smiling.jpg",
  "pageTitle"     : "About",
  "pageHeading"   : "About me and the kind of articles to expect here"
}
-->