{% extends '../template/base.html' %}

{% block body_content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I have a dual life. One part of my life includes building and teaching software. While the other part involves building business.</p>
        <p>I keep on switching myself between the two lives that I have. Initially it was overwhelming and extremely difficult, but now it has become normal. But the segregation exist. When I am thinking about software, I am only thinking about software. And when I am thinking about business, I am only thinking about business.</p>
        <p>I started writing C programs when I was in class 9th, way back in 2007. When I joined engineering college, I immediately started reading and discussing about software design principles. They are still one of my favourite topics in software. During my college days, competitive programming was quite trending, I also used to enjoy participating on online competitions.</p>
        <p>In 2014, I set myself out to do my first startup, Coder Pigeon. At Coder Pigeon, we were using Node.JS stack, and that was the time when my journey with JavaScript started. At the day of writing this, mid 2019, I am still a full time JavaScript developer. JavaScript has changed a lot in between, but our bonding remains the same.</p>
        <p>On this blog, I only write about technical stuffs. JavaScript (Node, React, Angular), Competitive Programming and software design, to be more precised.</p>
      </div>
    </div>
  </div>
{% endblock %}


<!-- params
{
  "pathToRoot"    : "",
  "title"         : "Ravi Shankar | About",
  "headerimage"   : "img/ravi-smiling.jpg",
  "pageTitle"     : "About",
  "pageHeading"   : "About me and the kind of articles to expect here"
}
-->