{% extends '../template/base.html' %}

{% block body_content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My personality is a big departure from the image you would build in your mind going through my resume. My image and me, contradict ourselves very much.</p>
        <p>In my office, you will find me hyper excited all the time. I am a very involved person, when it comes to projects that I undertake. If I am not writing code, you can find me discussing metrics, scope, long-term vision, implementation details of my projects with other stakeholders.</p>
        <p>I follow a very traditional approach to do my day to day work. Before I begin writing code, I meet with all the skateholders and understand their requirements and use cases, then I go back to drawing room and design a blurprint of the software. After I am done with the blueprint, I meet my seniors, other participants again to understand the feasibility, expected changes and blockers. This process goes on till we have finalised everything. I write code only after completing all the process. This may sound very orthodox and traditional, but this is how I work.</p>
        <p>You will often find me in front of whiteboard, drawing and erasing architectures. At others You can find me using chart paper and pencil. I prefer non-software tools for designing my stuffs.</p>
        <p>From inside I might be mature, but from outside I am no better than a kid. I am often very curious like 10 year olds and I ask a lot of questions. I am often loud, noisy and hyper excited about stuffs. Like a kid, I prefer colorful and bold clothes, I don't shy away from wearing cheesy combinations such as red-black, all-black, black-white, stripped-suits etc. I not only wear them, but I carry them with confidence. I preferably wear half pants and t-shirts to my office. I even keep changing my reading devices, accessories, bags etc.</p>
        <p>With time I have learnt to accept, like and even love myself. Being a super curious and super excited kid may not be that good in general, but they are the batteries that power my intense involvment in serious stuffs like designing and architecting. I am a very hard-working individual, and I am not gonna let go the source that powers my hard-work. I believe that with time, I will also learn to project a decent image to the outside world, and joyfully hide the kid behind that image. :D</p>
        <p>In a nutshell, you can think of me as a kid who writes code, serious code, quality code.</p>
        <p>My relationship with programming is very old, I started writing C programs when I was in class 9th, way back in 2007. When I joined engineering college, I immediately started reading and discussing about software design principles. They are still one of my favourite topics in software. During my college days, competitive programming was quite trending, I also used to enjoy participating on online competitions.</p>
        <p>In 2014, I set myself out to do my first startup, Coder Pigeon. At Coder Pigeon, we were using Node.JS stack, and that was the time when my journey with JavaScript started. At the day of writing this, I am still a full time JavaScript developer. JavaScript has changed a lot in between, but our bonding remains the same.</p>
        <p>When it comes to leadership, my style is somewhat unique and a bit less scalable. Let me add a bit of background. Generally, when I am working with some project, I go home and and research about related topic. Similarly, when I am working on a project that involves end user, I spend time with the end user. For example: Once I was working on a start job OTP for UrbanClap professional app, I placed a request, observed the professional behaviour and got feedbacks from him and then iterated the feature as per the feedback. At some other time, I was working on a marketing project, I went home and read several books related to marketing, I made myself an informed decision maker. When I lead someone into some project, I inspire my team members to do the same. It's difficult to scale it at greater level, but at the current level where I operate this works perfectly fine and gives me good results.</p>
        <p>Being orthodox about software development has helped me learn a lot. Now, I have set myself out to share my learnings and learn new stuffs through my website.</p>
        <p>On this blog, I only write about technical stuffs. JavaScript (Node, React, Angular), Competitive Programming and software design, to be more precised.</p>
      </div>
    </div>
  </div>
{% endblock %}


<!-- params
{
  "pathToRoot"    : "",
  "title"         : "Ravi Shankar | About",
  "headerimage"   : "img/ravi-smiling.jpg",
  "pageTitle"     : "About",
  "pageHeading"   : "About me and the kind of articles to expect here"
}
-->